.main{
    background-color: aliceblue;
}

.color{
    color:#DD2022
}
ul {
    /* list-style-type: none; */
    margin: 6;
    padding: 0;
    /* width: 100px; */
    /* height: 100%; */
    /* background-color: #F7F7F7; */
  }
  ul, li {
    display:inline-block;
}
  li a {
    /* width: 50px; */
    /* height: 50px; */
    display: block;
    color: #0c0909;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 40px;
  }

  /* Change the link color on hover */
  li a:hover {
    background-color: #cf8788;
    /* background-image: linear-gradient( 96.5deg,  rgba(39,103,187,1) 10.4%, rgba(16,72,144,1) 87.7% ); */
    color: #fff;
  }
  .icon {
    margin-right: 10px;
  }