<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-6 col-xl-12">
            <div class="card overflow-hidden shadow p-3 mb-5 rounded">
                <div class="card-body pt-0">
                    <div class="p-2">
                        <!-- <img [src]="logo"  style="object-fit: cover" class="mb-2" id="fakeimg" height="100px"/><br/> -->
                        <label class="inline-block mb-2 ml-0">Logo / Photo</label>
                        <div class="col-md-4 mt-4">
                            <ngx-dropzone [multiple]=false accept="image/jpeg,image/jpg,image/png" (change)="onFileSelected($event)">
                                <ngx-dropzone-label>Choose File</ngx-dropzone-label>
                                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" [removable]="true" (removed)="onRemove()" [file]="logo" *ngIf="logo">
                                    <ngx-dropzone-label></ngx-dropzone-label>
                                </ngx-dropzone-image-preview>
                            </ngx-dropzone>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="dimensionError" class="alert alert-{{alertColor}}" role="alert" style="position: fixed; bottom: 40px; right: 40px;">
        {{ showSuccessMessage }}
    </div>
</div>