.card {
    border: none;
    background-color: #F5EBEB;
    border-radius: 24px;
}
img{
	width : 60px; 
	height: 30px
}    
.wrapper,.copyright {
	padding: 20px;
	text-align: center;
}
hr{
	margin: 30px 20px;
	border-top:2px solid #1C1E26 ;
	border-bottom:2px solid #38404D;
}
.list-unstyled {
	padding-left: 0;
	list-style: none;
}
.list-inline li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 10px;
}
