
<!-- Nav Bar -->
<div class="main pt-4 pb-3">
  <div class="container-fluid">
    <!-- <div class="container"> -->
      <div class="row mt-4">
        <div class="col-md-6">
            <h4>Email Signature</h4>
        </div>
        <div class="col-md-6 text-end">
            <a  class="btn btn-danger" (click)="logout($event)">Log Out</a>
        </div>
      </div>
    <!-- </div> -->
  
  
  
  <!-- <div class="container"> -->
  
      <div class="col-md-12 d-flex">
          <!-- <span class="row"> -->
              <div class="col-md-6 mt-4">
                  <app-form-nav-bar></app-form-nav-bar>
              </div>
              <div class="col-md-6 mt-4">
                  <app-signature></app-signature>
              </div>
            <!-- </span> -->
      </div>
  <!-- </div> -->
  </div>
</div>