<div class="container">
    <div class="card">
        <div class="card-header">
            Email Signature
        </div>
        <div class="card-body pt-0"  #elementContentToCopy id="foo">
            <div class="p-2" [style.background]="designData[0].backgroundColor.value">
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <div>
                            <img style="width: 100px;height: 100px;" src="{{imageData[0].profileImage.value}}" alt="">
                        </div>
                        
                    </div>
                    <div class="col-md-6">
                        <span  *ngFor="let data of sharedData" [style.font-family]="designData[0].fontFamily.value" [style.font-size.px]="designData[0].fontSize.value" [style.color]="designData[0].templateColor.value">
                            <label for="" >Name: {{data.name.value}}</label><br>
                            <label class="">Company: {{data.company.value}}</label><br>
                            <label class="">Position : {{data.position.value}}</label><br>
                            <label class="">Department: {{data.department.value}}</label>
                        </span> <br>
                        <div *ngFor="let contact of sharedData[0].contacts.value" [style.font-family]="designData[0].fontFamily.value" [style.font-size.px]="designData[0].fontSize.value" [style.color]="designData[0].templateColor.value">
                            <label for="">Field: {{contact.contactFields}}</label><br>
                            <label for="">Value: {{contact.contactValue}}</label><br>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="icon" *ngFor="let data of socialMediaData[0].socialMedia.value">
                            <span class="social-icons icon-circle icon-zoom"><i class="{{data.icon}}"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-md-12">
                <div class="">
                    <button (click)="copyToClip()" class="btn btn-primary ">
                        Copy Signature
                    </button>
                    <button type="submit"
                        class="btn btn-primary float-end " (click)="onSubmit()">
                        Save Signature
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

