<div class="container">
    <div class="card shadow  mb-5 rounded">
        <div class="card-header">
            <h5 class="header-text">Signature Preview</h5>
        </div>
        <div class="card-body m-3 p-3"  #elementContentToCopy id="email-signature">
            <div class="p-2" [style.background]="designData.backgroundColor.value">
                <div class="main">
                    <div style="width: 100%;display: flex;" >
                        <div style="width: 60%;margin-left: 20px;">
                            <span  [style.font-family]="designData.fontFamily.value" [style.font-size.px]="designData.fontSize.value" [style.color]="designData.templateColor.value">
                                <label style=" font-weight: bold;"> {{sharedData.fname.value}}</label> &nbsp;
                                <label style=" font-weight: bold;">{{sharedData.lname.value}}</label><br>
                                <label>{{sharedData.position.value}}</label> &nbsp; 
                                <span *ngIf="sharedData.department.value.length>0" style=" font-weight: bold;">|</span> &nbsp;
                                <label>{{sharedData.department.value}}</label><br>
                                <span *ngIf="sharedData.mobileNo.value.length>0">
                                    <label><span style=" font-weight: bold;">M</span> : {{sharedData.mobileNo.value}}</label><br>
                                </span>
                                <span *ngIf="sharedData.company.value.length>0">
                                    <label><span style=" font-weight: bold;">C</span> : {{sharedData.company.value}}</label><br>
                                </span>
                                <!-- <hr> -->
                                <span *ngIf="sharedData.email.value.length>0">
                                    <label><span style=" font-weight: bold;">E</span> : {{sharedData.email.value}}</label><br>
                                </span>
                                <span *ngIf="sharedData.address.value.length>0">
                                    <label><span style=" font-weight: bold;">A</span> : {{sharedData.address.value}}</label>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

                    <div class="col-md-12" style="display : flex; margin-top: 10px;margin-left: 20px;"  [style.font-family]="designData.fontFamily.value" [style.font-size.px]="designData.fontSize.value" [style.color]="designData.templateColor.value">
                        <div>
                            <div class="wrapper col-md-2">
                                <div class="social-icons icon-circle icon-zoom list-unstyled list-inline" style="width : 20px; height: 20px"> 
                                    <a href="{{socialMediaData.facebookLink.value}} " target="_blank">
                                        <img style="width : 20px; height: 20px" src="https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-facebook-2019-circle-512.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Twitter -->
                        <div>
                            <div class="wrapper col-md-2">
                                <div class="social-icons icon-circle icon-zoom list-unstyled list-inline" style="width : 20px; height: 20px"> 
                                    <a href="{{socialMediaData.twitterLink.value}} " target="_blank">
                                        <img style="width : 20px; height: 20px" src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-twitter-social-media-round-icon-png-image_6315985.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Youtube -->
                        <div>
                            <div class="wrapper col-md-2">
                                <div class="social-icons icon-circle icon-zoom list-unstyled list-inline" style="width : 27px; height: 22px"> 
                                    <a href="{{socialMediaData.youtubeLink.value}} " target="_blank">
                                        <img style="width : 27px; height: 22px" src="https://www.freepnglogos.com/uploads/youtube-logo-icon-transparent---32.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- instagram -->
                        <div>
                            <div class="wrapper col-md-2">
                                <div class="social-icons icon-circle icon-zoom list-unstyled list-inline" style="width : 20px; height: 20px"> 
                                    <a href="{{socialMediaData.instagramLink.value}} " target="_blank">
                                        <img style="width : 20px; height: 20px" src="https://www.freepnglogos.com/uploads/logo-ig-png/logo-ig-instagram-new-logo-vector-download-13.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                         <!-- Linkedin -->
                         <div>
                            <div class="wrapper col-md-2">
                                <div class="social-icons icon-circle icon-zoom list-unstyled list-inline" style="width : 20px; height: 20px"> 
                                    <a href="{{socialMediaData.linkedinLink.value}} " target="_blank">
                                        <img style="width : 20px; height: 20px" src="https://www.freepnglogos.com/uploads/linkedin-basic-round-social-logo-png-13.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- pinterest -->
                        <div>
                            <div class="wrapper col-md-2">
                                <div class="social-icons icon-circle icon-zoom list-unstyled list-inline" style="width : 20px; height: 20px"> 
                                    <a href="{{socialMediaData.pinterestLink.value}} " target="_blank">
                                        <img style="width : 20px; height: 20px" src="https://www.freepnglogos.com/uploads/pinterest-logo-p-png-0.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Image Start -->
                        <!-- <div style="width: 30%;">
                            <img [src]="imageData[0].profileImage.value" alt="" style="width :70%;margin-top: 20px;margin-left: 20px;">
                        </div> -->
                        <!-- Image End -->
                        <!-- <div [innerHTML]="sanitizedContent"></div> -->
                    </div>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-md-12">
                    <button (click)="copyToClip()" class="btn ">
                        Copy Signature
                    </button>
                    <button type="submit"
                        class="btn float-end " (click)="onSubmit()">
                        Save Signature
                    </button>
            </div>
        </div>
    </div>
    <div *ngIf="showSuccess" class="alert alert-{{alertColor}}" role="alert" style="position: fixed; bottom: 40px; right: 40px;">
        {{ showSuccessMessage }}
    </div>
</div>

